<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Huangshuai Jin">
    <link rel="shortcut icon" href="favicon.png">

    <title>Fetch</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
  </head>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="static/images/tile.jpg"; style="height: 500px; width: 100%;>
          <div class="container">
            <div class="carousel-caption">
              <h1>Fetch</h1>
              <p>You have connected to glass successfully</p>
              <p><img src="static/images/send_to_glass_34x34.png"> <a class="btn btn-large btn-primary" href="view/auth">Reconnect to Glass</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


	<div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fetch messages. <span class="text-muted">know what happened on this place before.</span></h2>
          <p class="lead">Fetch the messages people left before in this place to know what interesting things happened in this place, how people think about this place, or maybe just a Hi from people who have been here before.</p>
          <p class="lead">It also gives you a overall rating score telling you how people like the place and the area.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/images/sample-fetch1.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/images/sample-fetch2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/images/sample-push.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Push a message. <span class="text-muted">Leave your footprint .</span></h2>
          <p class="lead">Don't hesitate to be the first one to leave a footprint. Tell people the story and memory you have about this place. A friendly reminder is also very helpful to people come here later.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Like and Dislike. <span class="text-muted">Tell people whether you like it.</span></h2>
          <p class="lead">If you like this place, give a positive feedback. If not, leave a negative rate and give a nice reminder to people.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/images/sample-like.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Huangshuai Jin. &middot; <a>huangshuaijin@gmail.com</a> </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
  </body>
</html>

